/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Global var */
*, 
*::before,
*::after {
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
    height: 100vh;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #fafafa;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -0.1px;
}

h3 {
    font-size: 2rem;
    font-weight: 400;  
    margin-bottom: 1rem;  
}

h4 {
    font-size:  1.8rem;
    letter-spacing: 0.5px;
    font-weight: 500;
}

li {
    list-style: none;
    font-family: Arial, sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.btn {
    font-size: 1.4rem;
    letter-spacing: 1.25px;
    font-weight: 300;
    outline: none;    
    border-radius: 25px;
    padding: 1rem 2rem;
    cursor: pointer;
}

.container {
    margin-bottom: 3rem;
}



/* App container */

.app {
    min-height: calc(100vh - 10rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: flex-start;
        -ms-flex-pack: flex-start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.app-container {
    max-width: 768px;
    width: 100%;
    padding: 3rem 2rem 0;
}



/* header */

header {
    padding: 1rem 0 1rem 3rem;
    color: white;
    background-color: #1D800E;
}



/* Add ingredient component */

.add-ingredient > .container {
    border-radius: 50px;
    padding: 1.5rem 2rem;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: white;
}

.add-ingredient-form > form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

.text-input {
    outline: none;
    border: none;
    background: none;
    width:100%;
    margin-right: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0 1rem;
}

.submit-button {
    background: none;
    border: none;
    color:white;
    background-color: #06A10B;
}

.submit-button:hover {    
    background-color: #46CB18;
}



/* Ingredient list */

.ingredient-list > .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.container > .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 10px;
    padding: 2rem;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: white;
}

.ingr-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;    
    -ms-flex-wrap: wrap;    
        flex-wrap: wrap;
    margin-bottom: 2rem;
    border-bottom: 1px solid #dfe1e5;
    padding-bottom: 1rem;
}

.ingr-ul > li {  
    margin: 0 1rem 1rem 0;    
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #efefef;
}

.ingr-ul > li > p {
    padding: 1.5rem 0 1.5rem 2rem;
}

.ingr-ul > li > a {
    padding: 1rem 2rem;
}

.fas.fa-times {
    font-size: 2.5rem;
    color: rgb(179, 49, 49);
}

.fas.fa-times:hover {
    color: rgb(212, 74, 74);
}

.buttons {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 1rem 0.5rem;
}

.clear-list {
    color: #da2a2a;
    font-weight: 400;
    margin-right: 2rem;
}

.clear-list:hover {
    background-color: rgb(255, 227, 223);
}

.submit-recipe {
    color: #058809;
    border: 2px solid#06A10B;
    font-weight: 500;
    padding: 0.8rem 1.8rem;
}

.submit-recipe:hover {
    color: white;
    background-color:  #06A10B;
}



/* Recipe stats */

.flex-stats {
    position: relative;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));    
    row-gap: 3rem;
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
}

.flex-stats > * {
    border-radius: 10px;
    padding-top: 1rem;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #1D800E;
    border: 2px solid #1D800E;
    color: white;
}

.flex-stats > * > h4 {
    margin: .5rem 2rem 1rem 2rem    
}

.stat-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 1rem 2rem;
    background-color: white;
    border-top: 1px solid #dfe1e5;
}

.stat-item:nth-last-child(1) {    
    border-radius: 0 0 10px 10px;
}

.stat-item:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #f7f7f7;
}

.stat-item:nth-last-child(1):hover {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #f7f7f7;
    border-radius: 0 0 10px 10px;
}

.key {
    font-weight: bold;
    color: #202124;
}

.val {
    color: black;
}

/* Single selectors stats */
.stat-item:nth-child(3) > .key,
.stat-item:nth-child(4) > .key,
.stat-item:nth-child(8) > .key,
.stat-item:nth-child(9) > .key {
    font-weight: normal;
    padding-left: 3rem;
}



/* footer */
.powered-by {
    text-align: center;
}




/* Errors & tip*/
.ingr-err {
    width: 220px;
    -webkit-transform: translate(2.5rem, -2.5rem);
        -ms-transform: translate(2.5rem, -2.5rem);
            transform: translate(2.5rem, -2.5rem);
    font-size: 1.4rem;
    color: #DA2a2a;
}

.ingr-tip {
    width: 220px;
    -webkit-transform: translate(2.5rem, -2.5rem);
        -ms-transform: translate(2.5rem, -2.5rem);
            transform: translate(2.5rem, -2.5rem);
    font-size: 1.4rem;
    color: #8a8a8a;
}